<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <connectionStrings>
    <add name="dataBaseConnection" connectionString="Data Source=IGOR-PC\SQLEXPRESS;Initial Catalog=quiz;Integrated Security=True"/>
  </connectionStrings>
</configuration>
